.u-section-1 .u-sheet-1 {
  min-height: 778px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 9px;
}

.u-section-1 .u-text-2 {
  margin: 14px 9px 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  margin-top: 12px;
}

.u-section-1 .u-text-3 {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-4 {
  margin-top: 2px;
}

.u-section-1 .u-text-4 {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 339px;
  background-image: url("images/198810232_2958250334465267_3261620800107371723_n.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 339px;
  background-image: url("images/photo-1552306062-29a5560e1c31.jpg");
  background-position: 50% 71.96%;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 678px;
  animation-duration: 1000ms;
  background-image: url("images/228970642_1493116504361102_6824184107021621723_n.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 280px;
  }

  .u-section-1 .u-image-2 {
    min-height: 280px;
  }

  .u-section-1 .u-image-3 {
    min-height: 559px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1884px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 357px;
  }

  .u-section-1 .u-image-2 {
    min-height: 357px;
  }

  .u-section-1 .u-image-3 {
    min-height: 1070px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1923px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -100px;
    margin-bottom: -100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 536px;
  }

  .u-section-1 .u-image-2 {
    min-height: 268px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 803px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -155px;
    margin-bottom: -155px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-2 {
    min-height: 169px;
  }

  .u-section-1 .u-image-3 {
    min-height: 506px;
  }
}